src/Services/User/bin
src/Services/User/obj
src/.vs
src/.DS_Store
.DS_Store
src/Basket/bin
src/Basket/obj
src/Catalog/bin
src/Catalog/obj
src/Common/bin
src/Common/obj
src/Services/Basket/bin
src/Services/Basket/obj
src/Services/Catalog/bin
src/Services/Catalog/obj
src/Services/Common/bin
src/Services/Common/obj
src/Gateway/bin
src/Gateway/obj
src/UnitTests/bin
src/UnitTests/obj
